<form>
    <div class="row g-3">
        <div class="col-sm-6">
            <div class="form-floating">
                <input type="text" class="form-control border-1" id="gname" placeholder="Gurdian Name">
                <label for="gname">Your Name</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating">
                <input type="email" class="form-control border-1" id="gmail" placeholder="Gurdian Email">
                <label for="gmail">Your Email</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating">
                <label class="form-label mt-4"></label>
                <select class="form-select">
                    <option>Code type</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating">
                <label class="form-label mt-4"></label>
                <select class="form-select">
                    <option>Course type</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <textarea class="form-control border-1" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                <label for="message">Message</label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn w-100 py-3 text-white" style="background-color:darkblue;" type="submit">Submit</button>
        </div>
    </div>
</form>
