@model List<Package>
<div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-secondary text-uppercase mb-2">Tranding Courses</h6>
        <h1 style=" color:darkblue;" class="display-6 mb-4">Our Courses Upskill You With Driving Training</h1>
    </div>
    <div class="row g-4 justify-content-center">

        @foreach (Package item in Model)
        {
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">

                    <div class="text-center p-4 pt-0">
                        <div style="background-color:blue;" class="d-inline-block text-white fs-5 py-1 px-4 mb-4">@item.price.ToString("c2")</div>
                        <h5 class="mb-3" style=" color:darkblue;">@item.Name</h5>
                        <p>@item.Description</p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small">
                            <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-secondary me-2"></i>@item.duration Week</li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/img/@item.image" alt="">
                        <div class="courses-overlay">
                            <a class="btn btn-outline-dark border-2 text-white" style="background-color:blue;" asp-action="ContactUs" asp-controller="Home">Make appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        }


       @* <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4" style="background-color:blue;">R2 600</div>
                    <h5 class="mb-3" style=" color:darkblue;">Refresher course</h5>
                    <p>10 lessons and testing truck</p>
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item small">
                        <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-secondary me-2"></i>2 Week</li>
                    </ol>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/courses-2.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-dark border-2 text-white" style="background-color:blue;" asp-action="ContactUs" asp-controller="Home">Make appointment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4" style="background-color:blue;">R1 500</div>
                    <h5 class="mb-3" style=" color:darkblue;">Test preparation</h5>
                    <p>2 lessons and a testing truck</p>
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item small">
                        <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-secondary me-2"></i>1 Week</li>
                    </ol>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/courses-3.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-dark border-2 text-white" style="background-color:blue;" asp-action="ContactUs" asp-controller="Home">Make Appointment</a>
                    </div>
                </div>
            </div>
        </div>*@

    </div>
</div>