<div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-secondary text-uppercase mb-2">Tranding Courses</h6>
        <h1 style=" color:darkblue;" class="display-6 mb-4">Our Courses Upskill You With Driving Training</h1>
    </div>
    <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div style="background-color:blue;" class="d-inline-block text-white fs-5 py-1 px-4 mb-4">R2 000</div>
                    <h5 class="mb-3" style=" color:darkblue;">Automatic Car Lessons</h5>
                    <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item small"><i class="fa fa-signal text-secondary me-2"></i>Beginner</li>
                        <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-secondary me-2"></i>3 Week</li>
                    </ol>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="img/courses-1.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-dark border-2" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Make appointment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4" style="background-color:blue;">R2 000</div>
                    <h5 class="mb-3" style=" color:darkblue;">Highway Driving Lesson</h5>
                    <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item small"><i class="fa fa-signal text-secondary me-2"></i>Beginner</li>
                        <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-secondary me-2"></i>3 Week</li>
                    </ol>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="img/courses-2.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-dark border-2" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Make appointment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block text-white fs-5 py-1 px-4 mb-4" style="background-color:blue;">R2 000</div>
                    <h5 class="mb-3" style=" color:darkblue;">International Driving</h5>
                    <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item small"><i class="fa fa-signal text-secondary me-2"></i>Beginner</li>
                        <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-secondary me-2"></i>3 Week</li>
                    </ol>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="img/courses-3.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-dark border-2" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Make Appointment</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>